@import "form-fields";

.radio-button_field {
  cursor: pointer;

  svg {
    circle {
      transition: opacity 0.3s ease-out;
    }
    path {
      transition: fill 0.3s ease-out;
    }
  }

  &.active {
    .radio_btn-text {
      font-weight: 700;
    }

    .radio_btn-icon {
      svg {
        circle {
          opacity: 1;
        }
        path {
          fill: #ffffff;
        }
      }
    }
  }
}
